body{
    background-color: #333333;
    margin: 0;
    border: 0;
    padding: 0;
}
menu {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #777777;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

cad a{
    color: white;
}

li a {
    float: left;
    color: white;
    text-align: center;
    display: block;
    padding: 14px;
    text-decoration: none;
    width: 90px;
}
li a.active {
    background-color: #4C50AF;
    color: white;
}
li a:hover:not(.active) {
    background-color: #4C50AF;
    color: white;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.menubar{
    float: left;
}

.user{
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: -2px 8px 16px 0px rgba(0,0,0,0.5);
    text-align: center;
}
.dropdown-content a {
    background-color: #444444;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .droplbl-menu{
    background-color: #444444;
    color: lightgrey;
}

.dropdown:hover .droplbl-user{
    background-color: #444444;
    font-weight: bold;
    color: orange;
}

.dropdown-content a:hover{
    color: white;
}

.dd-menu a:hover{
    background-color: #2C308F;
}

.dd-user a:hover{
    background-color: orange;
}

.dropdown:hover .dropdown-content{
    background-color: #444444;
    display: block;
}

.droplbl-menu{
    display: inline;
    color: white;
    text-align: center;
    display: block;
    padding: 14px;
    width: 90px;
    text-decoration: none;
}

.droplbl-menu:hover{
    background-color: #444444;
    color: white;
}

.droplbl-user{
    text-decoration: none;
    display: block;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 14px;
    margin: 0;
    border: none;
    width: 90px;
}

.droplbl-user:hover{
    background-color: #BB4400;
    color: white;
}
input, textarea, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    border: 0;
}

input[type=submit]{
    width: 100%;
    background-color: #2C308F;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    margin-top: 10px;
}

input[type=submit]:hover{
    background-color: #1C205F;
}

.login_err{
    color: #BB0000;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    border: 0;
}

input[type=submit]{
    width: 100%;
    background-color: #2C308F;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    margin-top: 10px;
}

input[type=submit]:hover{
    background-color: #1C205F;
}

.div-login{
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
    background-color: #777777;
    color:white;
    padding: 50px;
}

.div-cad{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 10px;
    background-color: #777777;
    color:white;
    padding: 50px;
}

.div-body{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 10px;
    background-color: lightgrey;
    color: #222222;
    padding: 50px;
}

.p-p {
    margin: 0px 0px 4px 18px;
    overflow: hidden;
}

.div-p{
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid darkgrey;
}

.div-p:hover{
    background-color: darkgrey;
    cursor: pointer;
    border-radius: 6px;
}

.div-pd{
}

h1, h2 {
    margin-top: 0px;
    padding: 0px;
    color: #darkblue;
    font-weight: lighter;
    font-family: Arial;
}

h1{
    text-align: center;
    font-size: 54px;
}

h2{
    margin-bottom: 0px;
    color: darkorange;
    text-align: left;
    font-size: 42px;
}

h3{
    text-align: center;
    font-size: 24px;
    color: #444444;
}

h4{
    padding: 0px 8px 0px 8px;
    margin: 0px 8px 2px 8px;
    text-align: left;
    color: #444444;
    font-weight: lighter;
    font-size: 18px;
}

#users{
    border-collapse: collapse;
    width: 100%;
}

#users tr{
    color: #444444;
}

#users td{
    padding: 8px;
    border-bottom: 1px solid #888888;
}

#users tr:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

#users th {
    padding: 8px;
    text-align: left;
    background-color: #2C308F;
    color: white;
}

