body{
    background-color: #333333;
}
menu {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777777;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

cad a{
    color: white;
}

li a {
    float: left;
    color: white;
    text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4C50AF;
    color: white;
}
li a:hover:not(.active) {
    background-color: #444444;
    color: white;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    border: 0;
}

input[type=submit]{
    width: 100%;
    background-color: #2C308F;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    margin-top: 10px;
}

input[type=submit]:hover{
    background-color: #1C205F;
}

session{
    margin: 0;
    border: 0;
    float:right;
    padding: 14px 16px 0px 30px;
    text-align: center;
}

login div{
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 10px;
    background-color: #777777;
    color:white;
    padding: 50px;
}

cad div{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 10px;
    background-color: #777777;
    color:white;
    padding: 50px;
}
